@-webkit-keyframes fadeInAnimation {
  0% {
    -webkit-transform: translateX(-2em);
            transform: translateX(-2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    -webkit-transform: translateX(-2em);
            transform: translateX(-2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    opacity: 1;
  }
}

@-webkit-keyframes hover {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  46% {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  100% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

@keyframes hover {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  46% {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  100% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

@-webkit-keyframes spiny {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes spiny {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@-webkit-keyframes spinyslow {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes spinyslow {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@-webkit-keyframes aboutImg {
  0% {
    -webkit-transform: translateX(-2em);
            transform: translateX(-2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

@keyframes aboutImg {
  0% {
    -webkit-transform: translateX(-2em);
            transform: translateX(-2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

@-webkit-keyframes aboutName {
  0% {
    -webkit-transform: translateX(2em);
            transform: translateX(2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

@keyframes aboutName {
  0% {
    -webkit-transform: translateX(2em);
            transform: translateX(2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

@-webkit-keyframes aboutText {
  0% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

@keyframes aboutText {
  0% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

@-webkit-keyframes stories {
  0% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

@keyframes stories {
  0% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

.hero-content {
  height: 35em;
  width: 100%;
  position: relative;
  background: url("../images/barn.jpg") fixed;
  background-size: cover;
  color: #ffe8cb;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10vh;
  text-align: center;
}

.hero-content h1 {
  -webkit-filter: drop-shadow(1px 1px 7px black);
          filter: drop-shadow(1px 1px 7px black);
  font-size: 3rem;
  margin: 0 2rem;
  margin-bottom: 3rem;
}

.hero-content h2 {
  -webkit-filter: drop-shadow(1px 1px 4px black);
          filter: drop-shadow(1px 1px 4px black);
  font-size: 2.5rem;
  margin: 0 2rem;
  margin-bottom: 4rem;
}

.hero-content p {
  background-color: rgba(44, 44, 255, 0.6);
  padding: 0.7rem 1rem;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 1rem 3rem 0 2.5rem;
  max-width: 40ch;
  color: black;
  font-size: 1.4rem;
  margin: 0 2rem;
}

.bnav-burger {
  width: 0.9rem;
  height: 4px;
  background-color: #19194e;
  border-radius: 10%;
  position: fixed;
  top: 1.5em;
  right: 0.5em;
  bottom: none;
  left: none;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: background-color 2s ease;
  transition: background-color 2s ease;
}

.bnav-burger:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.bnav-burger::before {
  content: '';
  position: absolute;
  width: 0.9em;
  height: inherit;
  border-radius: 10%;
  background-color: #19194e;
  top: -0.28em;
}

.bnav-burger::after {
  content: '';
  position: absolute;
  width: 0.8em;
  height: inherit;
  border-radius: 10%;
  background-color: #19194e;
  top: 0.25em;
}

.bnav-burger-open {
  z-index: 2;
  visibility: hidden;
}

.bnav-burger-open::after {
  visibility: visible;
  content: '';
  position: absolute;
  top: 0.01em;
  right: none;
  bottom: none;
  left: -0.1em;
  height: 4px;
  width: 25px;
  background-color: #ffe8cb;
  border-radius: 10%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-animation-name: spiny;
          animation-name: spiny;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: none;
          animation-delay: none;
}

.bnav-burger-open::before {
  visibility: visible;
  content: '';
  position: absolute;
  top: 0.01em;
  right: none;
  bottom: none;
  left: -0.1em;
  height: 4px;
  width: 25px;
  background-color: #ffe8cb;
  border-radius: 10%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  -webkit-animation-name: spinyslow;
          animation-name: spinyslow;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: none;
          animation-delay: none;
}

.bnav {
  visibility: hidden;
  position: absolute;
}

.bnav-open {
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  bottom: none;
  left: none;
  z-index: 1;
  min-height: 17em;
  min-width: 10em;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(25, 25, 78, 0.23)), color-stop(#19194e), to(rgba(25, 25, 78, 0.91)));
  background: linear-gradient(to bottom right, rgba(25, 25, 78, 0.23), #19194e, rgba(25, 25, 78, 0.91));
  border-bottom-left-radius: 40px;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: none;
          animation-delay: none;
}

.bnav-open__list {
  position: absolute;
  top: -18px;
  right: none;
  bottom: none;
  left: -34px;
  min-height: 17em;
  min-width: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bnav-open__list-items {
  min-height: 1.1em;
  min-width: 2.5em;
  margin: 0.7em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bnav-open__list-items:hover {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
  opacity: 0.4;
}

.bnav-open__list-items .bnav-open-links {
  color: #ffe8cb;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 2px dashed #ffe8cb;
}

.bnav-open__list:nth-child(1) {
  content: "$tings == 1";
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.5;
          animation-delay: 0.5;
}

.bnav-open__list:nth-child(2) {
  content: "$tings == 2";
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 1;
          animation-delay: 1;
}

.bnav-open__list:nth-child(3) {
  content: "$tings == 3";
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 1.5;
          animation-delay: 1.5;
}

.bnav-open__list:nth-child(4) {
  content: "$tings == 4";
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 2;
          animation-delay: 2;
}

.burger-wrapper {
  position: fixed;
  top: 1.11em;
  right: 0.3em;
  bottom: none;
  left: none;
  width: 1.3em;
  height: 1em;
  border-radius: 15%;
  outline: 2px solid rgba(255, 232, 203, 0.8);
  z-index: 1;
  cursor: pointer;
}

.active {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.bhome {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bhome .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bhome .author-img {
  visibility: hidden;
  height: 10em;
  width: 10em;
  border-radius: 50%;
  -webkit-box-shadow: 0.25em 0.25em 1em 0.1em rgba(0, 0, 0, 0.9);
          box-shadow: 0.25em 0.25em 1em 0.1em rgba(0, 0, 0, 0.9);
}

.bhome .author-name, .bhome .author-text {
  visibility: hidden;
  color: #19194e;
}

.bhome .author-text {
  text-align: center;
}

.bhome .author-text a {
  color: inherit;
  font-style: italic;
  font-weight: 800;
}

.bhome .author-text a .button {
  padding: 0.5em;
  border-radius: 15% /50%;
  background-color: #ffe8cb;
  color: black;
  font-size: 0.8rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bhome .author-text a .button:hover {
  background-color: transparent;
  border: 3px solid white;
}

.bhome .author-text a:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.bhome .author-name {
  position: relative;
}

.bhome .author-name::after {
  content: 'BLUE TEMPEST';
  position: absolute;
  top: 0.105em;
  right: none;
  bottom: none;
  left: 0.13em;
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-filter: blur(3.5px);
          filter: blur(3.5px);
}

.bhome .story {
  width: 100%;
}

.bhome .story-header {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3em;
}

.bhome .story-stories {
  visibility: hidden;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0;
  place-items: center;
  cursor: pointer;
}

@media (max-width: 30em) {
  .bhome .story-stories {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.bhome .story-stories .stories {
  margin: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(30%, #c5c5c5), to(white));
  background: linear-gradient(to bottom right, #c5c5c5 30%, white);
  border-radius: 1em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bhome .story-stories .stories:hover {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(30%, #818181), to(#d1d1d1));
  background: linear-gradient(to bottom right, #818181 30%, #d1d1d1);
}

.bhome .story-stories .stories-img {
  height: 8em;
  width: 100%;
  border-radius: 1em 0 0;
}

.bhome .story-stories .stories-header {
  height: auto;
  width: 100%;
  font-size: 1rem;
  padding: 0.3em 0em;
  margin: 0.1em 0em;
  text-align: center;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.2);
}

.bhome .story-stories .stories-text {
  height: auto;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 0.3em 0em;
}

.bhome .story-stories .sone {
  -webkit-transform: translateY(-1.5em);
          transform: translateY(-1.5em);
}

.bhome .story-stories .stwo {
  -webkit-transform: translateY(1.5em);
          transform: translateY(1.5em);
}

.bhome .story-stories .sthree {
  -webkit-transform: translateY(-1.5em);
          transform: translateY(-1.5em);
}

@media (max-width: 30em) {
  .bhome .story-stories .sthree {
    -webkit-transform: translateY(0em);
            transform: translateY(0em);
  }
}

.bhome .story-stories .sfour {
  -webkit-transform: translateY(-1.5em);
          transform: translateY(-1.5em);
}

@media (max-width: 30em) {
  .bhome .story-stories .sfour {
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
  }
}

.bhome .story-stories .sfive {
  -webkit-transform: translateY(2em);
          transform: translateY(2em);
}

@media (max-width: 30em) {
  .bhome .story-stories .sfive {
    -webkit-transform: translateY(1.5em);
            transform: translateY(1.5em);
  }
}

.bhome .story-stories .ssix {
  -webkit-transform: translateY(-1.5em);
          transform: translateY(-1.5em);
}

@media (max-width: 30em) {
  .bhome .story-stories .ssix {
    -webkit-transform: translateY(1.8em);
            transform: translateY(1.8em);
  }
}

.darker {
  background-color: rgba(0, 0, 0, 0.9);
}

.bhome .author .imgAni {
  visibility: visible;
  -webkit-animation-name: aboutImg;
          animation-name: aboutImg;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: none;
          animation-delay: none;
}

.bhome .author .nameAni {
  visibility: visible;
  -webkit-animation-name: aboutName;
          animation-name: aboutName;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: none;
          animation-delay: none;
}

.bhome .author .textAni {
  -webkit-animation-name: aboutText;
          animation-name: aboutText;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: none;
          animation-delay: none;
  visibility: visible;
}

#storiesAni {
  -webkit-animation-name: stories;
          animation-name: stories;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: none;
          animation-delay: none;
  visibility: visible;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

header .site-header {
  margin: auto auto auto auto;
}

header .site-header__text {
  font-size: 1.2rem;
  text-decoration: none;
  color: #19194e;
}

header .site-header__text:hover {
  opacity: 0.8;
}

main {
  padding-bottom: 4em;
}

footer {
  border-top: 1px solid black;
  width: 80%;
  text-align: center;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

footer section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer section div:nth-child(2) {
  width: 50%;
}

footer section div h3 {
  font-size: 1rem;
}

footer section div a {
  color: #19194e;
  font-size: 0.8rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 0.3em;
}

footer section div a:hover {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
  text-decoration: underline;
}
/*# sourceMappingURL=mobile.css.map */