@-webkit-keyframes fadeInAnimation {
  0% {
    -webkit-transform: translateX(-2em);
            transform: translateX(-2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    -webkit-transform: translateX(-2em);
            transform: translateX(-2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    opacity: 1;
  }
}

@-webkit-keyframes hover {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  46% {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  100% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

@keyframes hover {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  46% {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
  100% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

@-webkit-keyframes spiny {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes spiny {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@-webkit-keyframes spinyslow {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes spinyslow {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@-webkit-keyframes slidedown {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@keyframes slidedown {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@-webkit-keyframes aboutImg {
  0% {
    -webkit-transform: translateX(-2em);
            transform: translateX(-2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

@keyframes aboutImg {
  0% {
    -webkit-transform: translateX(-2em);
            transform: translateX(-2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

@-webkit-keyframes aboutName {
  0% {
    -webkit-transform: translateX(2em);
            transform: translateX(2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

@keyframes aboutName {
  0% {
    -webkit-transform: translateX(2em);
            transform: translateX(2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

@-webkit-keyframes aboutText {
  0% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

@keyframes aboutText {
  0% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

@-webkit-keyframes stories {
  0% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

@keyframes stories {
  0% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0em);
            transform: translate(0em);
    opacity: 1;
  }
}

.hero-content {
  height: 35em;
  width: 100%;
  position: relative;
  background: url("../images/fire.jpg") fixed;
  background-size: cover;
  color: #ffe8cb;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10vh;
  text-align: center;
}

.hero-content h1 {
  -webkit-filter: drop-shadow(1px 1px 7px black);
          filter: drop-shadow(1px 1px 7px black);
  font-size: 4rem;
  margin: 0 2rem;
  margin-bottom: 3rem;
}

.hero-content h2 {
  -webkit-filter: drop-shadow(1px 1px 4px black);
          filter: drop-shadow(1px 1px 4px black);
  font-size: 3rem;
  margin: 0 2rem;
  margin-bottom: 4rem;
}

.hero-content p {
  background-color: rgba(119, 119, 119, 0.7);
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
  color: black;
  padding: 0.7rem 1rem;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 1rem 3rem 0 2.5rem;
  max-width: 40ch;
  font-size: 1.8rem;
  margin: 0 2rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5em;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  right: none;
  bottom: none;
  left: 0;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

header .site-header {
  text-align: center;
}

header .site-header__text {
  font-size: 1.2rem;
  text-decoration: none;
  color: #7b8fff;
}

header .site-header__text:hover {
  opacity: 0.8;
}

header .join {
  color: white;
}

.bnav-burger {
  display: none;
}

.bnav {
  width: 60%;
  position: relative;
}

.bnav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bnav__list-items .bnav-links {
  margin: 0.4em 0.5em;
  color: white;
  text-decoration: none;
  font-size: 0.85rem;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.bnav__list-items .bnav-links:hover {
  opacity: 0.7;
}

.join-link {
  display: none;
}

.bnav__list-items .active {
  text-decoration: underline;
}

.bhome {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.author-img {
  visibility: hidden;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  -webkit-box-shadow: 0.25em 0.25em 1em 0.1em rgba(0, 0, 0, 0.9);
          box-shadow: 0.25em 0.25em 1em 0.1em rgba(0, 0, 0, 0.9);
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

img {
  width: 3rem;
}

.sone {
  -webkit-transform: translateY(-1.5em);
          transform: translateY(-1.5em);
}

.stwo {
  -webkit-transform: translateY(1.5em);
          transform: translateY(1.5em);
}

.sthree {
  -webkit-transform: translateY(-1.5em);
          transform: translateY(-1.5em);
}

.sfour {
  -webkit-transform: translateY(1.5em);
          transform: translateY(1.5em);
}

.sfive {
  -webkit-transform: translateY(-1.5em);
          transform: translateY(-1.5em);
}

.ssix {
  -webkit-transform: translateY(1.5em);
          transform: translateY(1.5em);
}

.darker {
  background-color: rgba(0, 0, 0, 0.9);
}

.bhome .author .imgAni {
  visibility: visible;
  -webkit-animation-name: aboutImg;
          animation-name: aboutImg;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: none;
          animation-delay: none;
}

.bhome .author .nameAni {
  visibility: visible;
  -webkit-animation-name: aboutName;
          animation-name: aboutName;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: none;
          animation-delay: none;
}

.bhome .author .textAni {
  -webkit-animation-name: aboutText;
          animation-name: aboutText;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: none;
          animation-delay: none;
  visibility: visible;
}

#storiesAni {
  -webkit-animation-name: stories;
          animation-name: stories;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: none;
          animation-delay: none;
  visibility: visible;
}

* {
  padding: 0;
  margin: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

main {
  padding-bottom: 2em;
}

footer {
  border-top: 1px solid black;
  width: 80%;
  text-align: center;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

footer section div {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer section div h3 {
  font-size: 1rem;
}

footer section div a {
  color: #19194e;
  font-size: 0.8rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer section div a:hover {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
  text-decoration: underline;
}
/*# sourceMappingURL=widescreen.css.map */