@import 'mixin';

@keyframes fadeInAnimation {
	0% {
		transform: translateX(-2em);
		opacity: 0;
	}
	100% {
		transform: translateX(0em);
		opacity: 1;
	}
}

@keyframes hover {
	0% {
		transform: none;
	}
	46% {
		transform: scale(5);
	}
	100% {
		transform: scale(4);
	}
}

@keyframes spiny {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(405deg);
	}
}
@keyframes spinyslow {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-45deg);
	}
}

@keyframes slidein {
	0% {
		transform: translateX(100%);
		filter: opacity(0);
	}
	100% {
		transform: translateX(0%);
		filter: opacity(1);
	}
}

@include slideFade(aboutImg, -2em);
@include slideFade(aboutName, 2em);
@include slideFade(aboutText, 0em);
@include slideFade(stories, 0em);
