@import './variables';

.darker {
	background-color: rgba(0, 0, 0, 0.9);
}

// for the about animations
.bhome .author .imgAni {
	visibility: visible;
	@include animations(aboutImg, 1s);
}
.bhome .author .nameAni {
	visibility: visible;
	@include animations(aboutName, 1s);
}
.bhome .author .textAni {
	@include animations(aboutText, 1.8s);
	visibility: visible;
}

#storiesAni {
	@include animations(stories, 2s);
	visibility: visible;
}
