$p-color: rgb(25, 25, 78);
$s-color: rgb(255, 232, 203);
$bg-color: rgb(150, 150, 150);
$bg-colorg: linear-gradient(
   to right,
   rgba(150, 150, 150, 0.2),
   rgba(150, 150, 150, 0.7),
   rgba(150, 150, 150, 0.5)
);
$tab-w: 55rem;
$mobile-w: 30em;
