@import '../../Utilities/variables';

.hero-content {
	@include size(30em, 100%);
	position: relative;
	background: url('../images/landscape.jpg') center center fixed;
	background-size: cover;
	color: $p-color;
	margin-bottom: 2em;
	@media (max-width: $mobile-w) {
		clip-path: circle(30em at 35% 0%);
		@include flexCenter($direction: column);
	}

	h1 {
		@include position($top: 16%, $left: 6%);
		font-size: 3.6rem;
		font-weight: 800;

		@media (max-width: $mobile-w) {
			position: static;
			font-size: 2.3rem;
			margin: auto;
			width: 80%;
		}
	}
	h2 {
		@include position($top: 38%, $left: 10%);
		font-size: 2.15rem;
		font-weight: 800;
		@media (max-width: $mobile-w) {
			position: static;
			font-size: 1.99rem;
			width: 7em;
			margin: auto;
			text-align: center;
			padding: 0.8rem;
		}
	}
	p {
		@include position($bottom: 11%, $left: 11%);
		width: 26ch;
		font-size: 1.45rem;
		font-weight: 800;
		color: $s-color;
		-webkit-text-stroke: 0.039em black;
		@media (max-width: $mobile-w) {
			position: static;
			font-size: 1.39rem;
			width: 11em;
			margin: auto;
			text-align: center;
		}
	}
}
