@import '../../Utilities/variables';

* {
	padding: 0;
	margin: 0;
}
header {
	display: flex;
	background: black;
	@include size(3.8em, 100%);
	@include flexCenter(center, center);
	z-index: 1;
	.site-header {
		&__text {
			color: white;
			font-size: 1.2rem;
			text-decoration: none;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.join {
	display: none;
}
.bnav-burger {
	@include position(fixed, 1rem, $right: 1rem);
	z-index: 1;
	background-color: black;
	border-radius: 0.2rem;
	color: white;
	padding: 0.4rem;
	cursor: pointer;
	transition: filter 0.5s;
	font-size: 0.9rem;
	&:hover {
		filter: invert(100%);
	}
}
.bnav {
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(100%);
}
.bnav__list {
	height: 100vh;
	@include flexCenter($direction: column, $justify: center);
	background: rgba(0, 0, 0, 0.95);
	backdrop-filter: blur(4px);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
	padding: 5rem;
	padding-top: 0rem;
	&-items {
		margin: 10% 0;
	}
}
.bnav-links {
	color: white;
	text-decoration: none;
	transition: opacity 0.6s;
	&:hover {
		opacity: 0.6;
	}
}
.bnav-open {
	animation: slidein 0.2s;
	transform: translateX(0%);
}
.bnav-burger-open {
	background-color: white;
	color: black;
}

// @for $tings from 1 through 4 {
// 	.bnav-open__list:nth-child(#{$tings}) {
// 		content: '$tings === #{$tings}';
// 		@include animations(slidein, 1s, ease, $delay: $tings * 0.5);
// 	}
// }

.active {
	text-decoration: underline;
}
