:root {
  --primary: hsl(200, 100%, 10%);
  --bodybg: hsl(0, 0%, 90%);
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e6e6e6;
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Helvetica' sans-serif;
  overflow-x: hidden;
  color: white;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #d9d9d9;
  z-index: 3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.back {
  z-index: -1;
}

.loader::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 6rem;
  width: 6rem;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 0.2em;
  background: -webkit-gradient(linear, left bottom, right top, from(#00aaff), to(red));
  background: linear-gradient(to top right, #00aaff, red);
  -webkit-animation: colorshift 0.7s infinite;
          animation: colorshift 0.7s infinite;
}

header {
  height: 3em;
  width: 100%;
  background: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 2;
}

a:visited {
  color: #006699;
}

a:active {
  color: #00aaff;
}

footer a:visited {
  color: #d9d9d9;
}

footer a:active {
  color: white;
}

nav a:visited {
  color: white;
}

nav a:active {
  color: #d9d9d9;
}

.site-header {
  width: 20%;
  text-align: center;
}

.site-logo img {
  width: 6rem;
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

.site-logo:hover {
  opacity: 0.8;
}

header .join {
  color: #b3e6ff;
}

.bnav-burger {
  display: none;
}

.bnav {
  width: 60%;
  position: relative;
}

.bnav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bnav-links {
  margin: 0.4em 0.5em;
  color: white;
  text-decoration: none;
  font-size: 0.85rem;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.bnav-links:hover {
  opacity: 0.7;
}

.join-link {
  display: none;
}

.bnav__list-items .active {
  text-decoration: underline;
}

.join:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

@media screen and (max-width: 30em) {
  header {
    height: 3.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hide-link {
    visibility: hidden;
  }
  .join {
    display: none;
  }
  .bnav-burger {
    display: initial;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#66ccff), to(#cceeff));
    background: linear-gradient(to bottom, #66ccff, #cceeff);
    border-radius: 0.2rem;
    font-weight: bold;
    color: black;
    padding: 0.4rem;
    cursor: pointer;
    -webkit-transition: -webkit-filter 0.5s;
    transition: -webkit-filter 0.5s;
    transition: filter 0.5s;
    transition: filter 0.5s, -webkit-filter 0.5s;
    font-size: 0.9rem;
  }
  .bnav-burger:hover {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .bnav {
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }
  .bnav__list {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    padding-left: 1rem;
    background: -webkit-gradient(linear, right top, left top, color-stop(70%, #002233), to(rgba(0, 34, 51, 0.9)));
    background: linear-gradient(to left, #002233 70%, rgba(0, 34, 51, 0.9));
  }
  .bnav__list-items {
    margin: 0.5rem 2rem;
  }
  .bnav-links {
    font-size: 1.4rem;
    display: inherit;
  }
  .join-link {
    display: inherit;
  }
  .bnav-open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .bnav-burger-open {
    background: black;
    color: white;
  }
  .bnav-links-open {
    visibility: visible;
    -webkit-animation: slideright 0.3s;
            animation: slideright 0.3s;
  }
  .shorter {
    height: 2.7rem;
  }
}

@media screen and (max-width: 18rem) {
  .bnav {
    width: 70%;
  }
  .bnav-links {
    font-size: 1.2rem;
  }
}

@-webkit-keyframes slideright {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@keyframes slideright {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

ul {
  list-style-type: none;
}

main {
  margin-top: 3rem;
}

.page-header {
  text-align: center;
  margin: 1.5rem 1rem;
  color: var(--primary);
  font-size: 3rem;
}

.blogs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 4rem;
}

.blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 18rem;
  min-height: 15rem;
  margin: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  background-color: #ecf4f9;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-box-shadow: -0.3rem 0.3rem 8px rgba(0, 0, 0, 0.5);
          box-shadow: -0.3rem 0.3rem 8px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  opacity: 0;
}

.blogs:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.blogs:hover img {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.blogs-img {
  width: 100%;
  height: 8rem;
}

.blogs-header {
  font-size: 1.5rem;
  margin: auto 0.5rem;
  color: var(--primary);
  text-transform: uppercase;
}

.blogs-text {
  text-transform: capitalize;
  text-decoration: underline;
  margin: auto 0.5rem;
  color: #004466;
}

.newsletter {
  background-color: #cceeff;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  padding: 3rem 0;
  border-radius: 0.1rem;
  -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.nsHeader {
  text-align: center;
  font-size: 2.5rem;
  margin: 0 1.5rem;
  color: var(--primary);
}

.nsSubheader {
  text-align: center;
  font-size: 1.3rem;
  margin: 1rem 1.5rem;
  color: var(--primary);
}

.nsForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nsForm > * {
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 0.35rem solid var(--primary);
}

#email {
  border-radius: 0.2rem 0 0 0.2rem;
}

#email::-webkit-input-placeholder {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#email:-ms-input-placeholder {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#email::-ms-input-placeholder {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#email::placeholder {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#email:focus::-webkit-input-placeholder {
  opacity: 0.3;
}

#email:focus:-ms-input-placeholder {
  opacity: 0.3;
}

#email:focus::-ms-input-placeholder {
  opacity: 0.3;
}

#email:focus::placeholder {
  opacity: 0.3;
}

#submit {
  border-radius: 0 0.2rem 0.2rem 0;
  cursor: pointer;
  color: white;
  background-color: var(--primary);
  -webkit-transition: -webkit-filter 0.7s;
  transition: -webkit-filter 0.7s;
  transition: filter 0.7s;
  transition: filter 0.7s, -webkit-filter 0.7s;
}

#submit:hover {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.bfooter {
  width: 100%;
  border-top: 1px solid grey;
  padding: 3rem;
  padding-top: 7rem;
  background-color: var(--primary);
  color: white;
  opacity: 0;
  -webkit-transform: rotateY(50deg);
          transform: rotateY(50deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.footer-items h3 {
  border-bottom: 1px dashed #33bbff;
  margin: 0;
  color: #33bbff;
}

.footer-items .social-icons {
  text-decoration: none;
}

.footer-items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.4rem 0;
  text-align: center;
  color: #d9d9d9;
  text-transform: capitalize;
}

.footer-items a:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.fab {
  margin-right: 0.5rem;
}

.fa-facebook {
  color: #1212db;
}

.fa-instagram {
  color: red;
}

.fa-whatsapp {
  color: #029c02;
}

.copyright {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto 2rem;
}

@media screen and (max-width: 30em) {
  .site-header {
    width: auto;
  }
  main {
    margin-top: 5rem;
  }
  .footer-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-items {
    margin-bottom: 2rem;
    width: 90%;
  }
  .contact-form h1 {
    text-align: center;
  }
}

.hide {
  opacity: 0;
  z-index: -1;
}

.blog-slide {
  opacity: 1;
  -webkit-animation: slidedown 1s ease;
          animation: slidedown 1s ease;
}

.footer-show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

@-webkit-keyframes slidedown {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@keyframes slidedown {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@-webkit-keyframes colorshift {
  0%,
  100% {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes colorshift {
  0%,
  100% {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
/*# sourceMappingURL=blog.css.map */