header {
  height: 2.5em;
  width: 100%;
  background: rgba(0, 68, 102, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 2;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.site-logo img {
  width: 6rem;
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

.site-logo:hover {
  opacity: 0.8;
}

header .join {
  color: white;
}

.bnav-burger {
  display: none;
}

.bnav {
  width: 60%;
  position: relative;
}

.bnav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bnav-links {
  margin: 0.4em 0.5em;
  color: white;
  text-decoration: none;
  font-size: 0.85rem;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.bnav-links:hover {
  opacity: 0.7;
}

.join-link {
  display: none;
}

.bnav__list-items .active {
  text-decoration: underline;
}

.join:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

@media screen and (max-width: 30em) {
  header {
    height: 3.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site-header__text {
    color: white;
  }
  .hide-link {
    visibility: hidden;
  }
  .join {
    display: none;
  }
  .bnav-burger {
    display: initial;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    background-color: #4dc4ff;
    border-radius: 0.2rem;
    font-weight: bold;
    color: black;
    padding: 0.4rem;
    cursor: pointer;
    -webkit-transition: -webkit-filter 0.5s;
    transition: -webkit-filter 0.5s;
    transition: filter 0.5s;
    transition: filter 0.5s, -webkit-filter 0.5s;
    font-size: 0.9rem;
  }
  .bnav-burger:hover {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .bnav {
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .bnav__list {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #0088cc;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    padding-left: 1rem;
  }
  .bnav__list-items {
    margin: 0.5rem 2rem;
  }
  .bnav-links {
    font-size: 1.4rem;
    display: inherit;
  }
  .join-link {
    display: inherit;
  }
  .bnav-open {
    -webkit-animation: slidein 0.2s;
            animation: slidein 0.2s;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .bnav-burger-open {
    background-color: black;
    color: white;
  }
  .bnav-links-open {
    visibility: visible;
    -webkit-animation: slideright 0.3s;
            animation: slideright 0.3s;
  }
  .shorter {
    height: 2.7rem;
  }
}

@media screen and (max-width: 18rem) {
  .bnav {
    width: 70%;
  }
  .bnav-links {
    font-size: 1.2rem;
  }
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slidein {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideright {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@keyframes slideright {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@-webkit-keyframes slidedown {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@keyframes slidedown {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@-webkit-keyframes bigEnter {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes bigEnter {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes rotateX {
  0% {
    -webkit-transform: rotateX(60deg);
            transform: rotateX(60deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes rotateX {
  0% {
    -webkit-transform: rotateX(60deg);
            transform: rotateX(60deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateY {
  0% {
    -webkit-transform: rotateY(60deg);
            transform: rotateY(60deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes rotateY {
  0% {
    -webkit-transform: rotateY(60deg);
            transform: rotateY(60deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=header.css.map */