body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #e6e6e6;
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
  overflow-x: hidden;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #d9d9d9;
  z-index: 3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.back {
  z-index: -1;
}

.loader::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 6rem;
  width: 6rem;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 0.2em;
  background: -webkit-gradient(linear, left bottom, right top, from(#00aaff), to(red));
  background: linear-gradient(to top right, #00aaff, red);
  -webkit-animation: colorshift 0.7s infinite;
          animation: colorshift 0.7s infinite;
}

@-webkit-keyframes colorshift {
  0%,
  100% {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes colorshift {
  0%,
  100% {
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

header {
  height: 2.5em;
  width: 100%;
  background: #004466;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 2;
}

a:visited {
  color: #006699;
}

a:active {
  color: #00aaff;
}

footer a:visited {
  color: #d9d9d9;
}

footer a:active {
  color: white;
}

nav a:visited {
  color: white;
}

nav a:active {
  color: #d9d9d9;
}

.site-logo img {
  width: 6rem;
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

.site-logo:hover {
  opacity: 0.8;
}

header .join {
  color: white;
}

.bnav-burger {
  display: none;
}

.bnav {
  width: 60%;
  position: relative;
}

.bnav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bnav-links {
  margin: 0.4em 0.5em;
  color: white;
  text-decoration: none;
  font-size: 0.85rem;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.bnav-links:hover {
  opacity: 0.7;
}

.join-link {
  display: none;
}

.bnav__list-items .active {
  text-decoration: underline;
}

.join:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

@media screen and (max-width: 30em) {
  header {
    height: 3.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site-header__text {
    color: white;
  }
  .hide-link {
    visibility: hidden;
  }
  .join {
    display: none;
  }
  .bnav-burger {
    display: initial;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    background: -webkit-gradient(linear, left bottom, left top, from(#00aaff), to(#80d5ff));
    background: linear-gradient(to top, #00aaff, #80d5ff);
    border-radius: 0.2rem;
    font-weight: bold;
    color: black;
    padding: 0.4rem;
    cursor: pointer;
    -webkit-transition: -webkit-filter 0.5s;
    transition: -webkit-filter 0.5s;
    transition: filter 0.5s;
    transition: filter 0.5s, -webkit-filter 0.5s;
    font-size: 0.9rem;
  }
  .bnav-burger:hover {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .bnav {
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .bnav__list {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    padding-left: 1rem;
    background: -webkit-gradient(linear, right top, left top, from(#006699), to(#1ab3ff));
    background: linear-gradient(to left, #006699, #1ab3ff);
  }
  .bnav__list-items {
    margin: 0.5rem 2rem;
  }
  .bnav-links {
    font-size: 1.4rem;
    display: inherit;
  }
  .join-link {
    display: inherit;
  }
  .bnav-open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .bnav-burger-open {
    background: black;
    color: white;
  }
  .bnav-links-open {
    visibility: visible;
    -webkit-animation: slideright 0.3s;
            animation: slideright 0.3s;
  }
  .shorter {
    height: 2.7rem;
  }
}

@media screen and (max-width: 18rem) {
  .bnav {
    width: 70%;
  }
  .bnav-links {
    font-size: 1.2rem;
  }
}

@-webkit-keyframes slideright {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@keyframes slideright {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

ul {
  list-style-type: none;
}

main {
  padding-bottom: 2em;
}

.hero-content {
  min-height: 31rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
}

.hero-content::before {
  content: '';
  position: absolute;
  opacity: 0.4;
  -webkit-filter: invert(100%) brightness(60%);
          filter: invert(100%) brightness(60%);
  top: 0;
  left: 0;
  min-height: 31em;
  width: 100%;
  background: url("../images/headphones-and-lights-in-darkness.jpg");
  background-size: cover;
  z-index: 0;
}

.hero-section {
  position: relative;
  z-index: 1;
}

.web-dev {
  font-size: 4.5rem;
  margin: 0 2rem;
  margin-bottom: 2rem;
}

.with-void {
  font-size: 3.5rem;
  margin: 0 2rem;
  margin-bottom: 4rem;
}

.hero-content .author-name {
  -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 170, 255, 0.3));
          filter: drop-shadow(1px 1px 4px rgba(0, 170, 255, 0.3));
  font-size: inherit;
}

.hero-text {
  background-color: #999999;
  padding: 0.7rem 1rem;
  border-radius: 1rem 3rem 0 2.5rem;
  max-width: 35ch;
  min-width: auto;
  font-size: 1.8rem;
  margin: 0 2rem;
}

.bhome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.author {
  width: 80%;
  margin: 8rem 0 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author-img {
  float: left;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  -webkit-box-shadow: 0.25em 0.25em 0.7em 0.1em rgba(0, 0, 0, 0.9);
          box-shadow: 0.25em 0.25em 0.7em 0.1em rgba(0, 0, 0, 0.9);
  margin-right: 2rem;
  shape-outside: circle(5rem at 6rem 5rem);
}

.author-name {
  color: #00334d;
  font-size: 2rem;
  margin: 0;
}

.author-text {
  margin-top: 0.3rem;
  font-size: 1.2rem;
  max-width: 65ch;
}

.author-text a {
  color: #004466;
}

.author-text a:hover {
  opacity: 0.7;
}

.author-text button {
  border-radius: 0.4rem;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  font-size: 0.9rem;
  font-weight: 600;
  border: 0.1rem solid black;
  background: -webkit-gradient(linear, left top, left bottom, from(#33bbff), to(#cceeff));
  background: linear-gradient(to bottom, #33bbff, #cceeff);
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

.author-text button:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.blog {
  position: relative;
  overflow-y: hidden;
}

.blog > * {
  position: relative;
  z-index: 1;
}

.blog::before {
  z-index: 0;
  position: absolute;
  content: '';
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid #80d5ff;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  -webkit-animation: rounder 7s infinite;
          animation: rounder 7s infinite;
}

.blog::after {
  z-index: 0;
  position: absolute;
  content: '';
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid #80d5ff;
  border-radius: 50%;
  top: 10%;
  right: 10%;
  -webkit-animation: rounder2 7s infinite;
          animation: rounder2 7s infinite;
}

.blog-header {
  text-align: center;
  font-size: 2.5rem;
  margin: 0 1.5rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  color: #00334d;
}

.blogs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  max-width: 18rem;
  min-height: 15rem;
  margin: 1rem;
  margin-bottom: 2rem;
  background-color: #ecf4f9;
  color: black;
  border-radius: 0.4rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-box-shadow: -0.3rem 0.3rem 8px rgba(0, 0, 0, 0.7);
          box-shadow: -0.3rem 0.3rem 8px rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.blogs:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.blogs:hover img {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.blogs-img {
  border-radius: 0.4rem 0.4rem 0 0;
  width: 100%;
  height: 8rem;
}

.blogs-header {
  font-size: 1.5rem;
  margin: auto 0.5rem;
  color: #00334d;
}

.blogs-text {
  margin: auto 0.5rem;
}

.bfooter {
  width: 100%;
  border-top: 1px solid grey;
  padding-top: 1rem;
  background-color: #0d0d0d;
  color: white;
}

.footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.footer-items h3 {
  border-bottom: 1px dashed #33bbff;
  margin: 0;
  color: #33bbff;
}

.footer-items .social-icons {
  text-decoration: none;
}

.footer-items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.4rem 0;
  text-align: center;
  color: #d9d9d9;
}

.footer-items a:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.fab {
  margin-right: 0.5rem;
}

.fa-facebook {
  color: #1212db;
}

.fa-instagram {
  color: red;
}

.fa-whatsapp {
  color: #029c02;
}

.copyright {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto 2rem;
}

@media screen and (max-width: 19em) {
  .hero-content h1 {
    margin-top: 4rem;
  }
  .hero-content p {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 30em) {
  .web-dev {
    font-size: 3rem;
  }
  .with-void {
    font-size: 2.5rem;
  }
  .hero-content .author-name {
    font-size: 2.5rem;
  }
  .hero-text {
    font-size: 1.4rem;
  }
  .author {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .author div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .author-img {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .footer-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-items {
    margin-bottom: 2rem;
    width: 90%;
  }
  .contact-form h1 {
    text-align: center;
  }
}

@media screen and (min-width: 42em) {
  .author-img {
    width: 15rem;
    height: 15rem;
    shape-outside: circle(7.5rem at 7.5rem 7.5rem);
    shape-margin: 1rem;
  }
  .author-name {
    margin: 3rem 0 0 0;
  }
}

@-webkit-keyframes rounder {
  0% {
  }
  50% {
    -webkit-transform: translateY(245vh);
            transform: translateY(245vh);
  }
  100% {
  }
}

@keyframes rounder {
  0% {
  }
  50% {
    -webkit-transform: translateY(245vh);
            transform: translateY(245vh);
  }
  100% {
  }
}

@-webkit-keyframes rounder2 {
  0% {
    -webkit-transform: translateY(245vh);
            transform: translateY(245vh);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(245vh);
            transform: translateY(245vh);
  }
}

@keyframes rounder2 {
  0% {
    -webkit-transform: translateY(245vh);
            transform: translateY(245vh);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(245vh);
            transform: translateY(245vh);
  }
}

.hide {
  opacity: 0;
}

.about-slide {
  opacity: 1;
  -webkit-animation: slideleft 1s ease;
          animation: slideleft 1s ease;
}

.blog-slide {
  opacity: 1;
  -webkit-animation: slidedown 1s ease;
          animation: slidedown 1s ease;
}

.hero-animate {
  opacity: 1;
}

.hero-animate:nth-child(1) {
  -webkit-animation: bigEnter 1s ease;
          animation: bigEnter 1s ease;
}

.hero-animate:nth-child(2) {
  -webkit-animation: rotateY 1s ease;
          animation: rotateY 1s ease;
}

.hero-animate:nth-child(3) {
  -webkit-animation: rotateX 1s ease;
          animation: rotateX 1s ease;
}

.footer-show {
  opacity: 1;
  -webkit-animation: rotateY 0.5s;
          animation: rotateY 0.5s;
}

@-webkit-keyframes slideleft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@keyframes slideleft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@-webkit-keyframes slidedown {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@keyframes slidedown {
  0% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@-webkit-keyframes bigEnter {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes bigEnter {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes rotateX {
  0% {
    -webkit-transform: rotateX(60deg);
            transform: rotateX(60deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes rotateX {
  0% {
    -webkit-transform: rotateX(60deg);
            transform: rotateX(60deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateY {
  0% {
    -webkit-transform: rotateY(60deg);
            transform: rotateY(60deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes rotateY {
  0% {
    -webkit-transform: rotateY(60deg);
            transform: rotateY(60deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=home.css.map */