* {
	padding: 0;
	margin: 0;
}

body {
	box-sizing: border-box;
	background: url('../images/stars.png') center center;
	background-repeat: repeat;
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: sans-serif;
	overflow-x: hidden;
	color: white;
}
body > * {
	z-index: 1;
}
ul {
	list-style-type: none;
}

main {
	padding-bottom: 2em;
}

.hero-content {
	min-height: 31rem;
	width: 100%;
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	position: relative;
}
.hero-content::before {
	content: '';
	position: absolute;
	opacity: 0.3;
	top: 0;
	left: 0;
	min-height: 31em;
	width: 100%;
	background: url('../../dist/images/black\ hpsp.jpg');
	background-size: cover;
}
.hero-content div {
	width: 100%;
}
.hero-content h1 {
	filter: drop-shadow(1px 1px 7px rgba(0, 255, 242, 0.5));
	font-size: 4.5rem;
	margin: 0 2rem;
	margin-bottom: 2rem;
}
.hero-content h2 {
	width: fit-content;
	filter: drop-shadow(1px 1px 4px rgba(0, 255, 242, 0.5));
	font-size: 3.5rem;
	margin: 0 2rem;
	margin-bottom: 4rem;
}
.hero-content .author-name {
	font-size: inherit;
}
.hero-content p {
	background-color: rgba(119, 119, 119, 0.7);
	filter: brightness(200%);
	color: black;
	padding: 0.7rem 1rem;
	backdrop-filter: blur(4px);
	border-radius: 1rem 3rem 0 2.5rem;
	max-width: 40ch;
	font-size: 1.8rem;
	margin: 0 2rem;
}
.bhome {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.author {
	width: 80%;
	margin: 6rem 0 5rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.author-img {
	float: left;
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
	box-shadow: 0.25em 0.25em 0.7em 0.1em rgba(0, 0, 0, 0.9);
	margin-right: 2rem;
	shape-outside: circle(5rem at 6rem 5rem);
}
.author-name {
	color: rgb(0, 209, 209);
	font-size: 2rem;
}
.author-text {
	margin-top: 0.3rem;
	font-size: 1.2rem;
	max-width: 65ch;
}
.author-text a {
	color: rgb(216, 216, 216);
}
.author-text button {
	border-radius: 0.2rem;
	cursor: pointer;
	padding: 0.3rem 0.6rem;
	font-size: 0.9rem;
	font-weight: 600;
	color: white;
	background-color: transparent;
	transition: filter 0.5s;
}
.author-text button:hover {
	filter: brightness(50%);
}
.blog {
	position: relative;
	overflow-y: hidden;
}
.blog > * {
	position: relative;
	z-index: 1;
}
.blog::before {
	z-index: 0;
	position: absolute;
	content: '';
	width: 2rem;
	height: 2rem;
	border: 0.3rem solid rgba(255, 255, 255, 0.61);
	border-radius: 50%;
	top: 10%;
	left: 10%;
	animation: rounder 7s infinite;
}
.blog::after {
	z-index: 0;
	position: absolute;
	content: '';
	width: 2rem;
	height: 2rem;
	border: 0.3rem solid rgba(255, 255, 255, 0.61);
	border-radius: 50%;
	top: 10%;
	right: 10%;
	animation: rounder2 7s infinite;
}

.blog-header {
	text-align: center;
	font-size: 2rem;
	filter: drop-shadow(1px 1px 4px rgba(0, 255, 242, 0.5));
	margin: 0 1rem;
}
.blogs-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}
.blogs-container a {
	text-decoration-color: white;
}
.blogs {
	display: flex;
	flex-direction: column;
	max-width: 18rem;
	min-height: 15rem;
	margin: 1rem;
	margin-bottom: 2rem;
	background-color: rgba(255, 255, 255, 0.08);
	color: white;
	border-radius: 0.4rem;
	transition: transform 0.5s;
}
.blogs:hover {
	transform: scale(1.05);
}
.blogs:hover img {
	filter: brightness(110%);
}
.blogs-img {
	border-radius: 0.4rem 0.4rem 0 0;
	width: 100%;
	height: 8rem;
}
.blogs-header {
	font-size: 1.4rem;
	margin: auto 0.5rem;
	filter: drop-shadow(1px 1px 4px rgba(0, 255, 242, 0.4));
}
.blogs-text {
	margin: auto 0.5rem;
}
.bfooter {
	width: 100%;
	border-top: 1px solid grey;
	padding-top: 1rem;
	background-color: black;
}
.footer-cont {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}
.footer-items {
	display: flex;
	max-width: 30%;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
}
.footer-items h3 {
	filter: drop-shadow(1px 1px 4px rgba(0, 255, 242, 0.5));
	border-bottom: 1px dashed white;
}
.footer-items a {
	margin: 0.4rem 0;
	text-align: center;
	color: rgb(199, 199, 199);
}
.footer-items a:hover {
	filter: brightness(50%);
}
.contact-form h1 {
	margin-left: 0.3rem;
	width: 100%;
}
.contact-form input {
	width: 11rem;
	margin: 0.3rem;
}

.contact-form input:focus {
	outline: none;
	border-radius: 0.4rem;
}

#name,
#email {
	height: 1.7rem;
}
#subject {
	height: 2rem;
}
#message {
	padding-top: 1rem;
	padding-bottom: 3rem;
}
.contact-form button {
	padding: 0.5rem;
	margin-left: 0.3rem;
	font-size: 0.9rem;
	cursor: pointer;
}
.contact-form button:hover {
	filter: opacity(0.6);
}
.copyright {
	width: fit-content;
	margin: auto auto 2rem;
}
@media screen and (max-width: 19em) {
	.hero-content h1 {
		margin-top: 4rem;
	}
	.hero-content p {
		margin-bottom: 1rem;
	}
}
@media screen and (max-width: 30em) {
	.hero-content h1 {
		font-size: 3rem;
	}
	.hero-content h2 {
		font-size: 2.5rem;
	}
	.hero-content .author-name {
		font-size: 2.5rem;
	}

	.hero-content p {
		font-size: 1.4rem;
	}
	.author {
		margin-top: 2rem;
		margin-bottom: 4rem;
	}
	.author div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.author-img {
		margin-right: 0;
		margin-bottom: 1rem;
	}
	.footer-cont {
		flex-direction: column;
		align-items: center;
	}
	.footer-items {
		margin-bottom: 2rem;
		width: 90%;
	}
	.contact-form h1 {
		text-align: center;
	}
}
@media screen and (min-width: 42em) {
	.author-img {
		width: 15rem;
		height: 15rem;
		shape-outside: circle(7.5rem at 7.5rem 7.5rem);
		shape-margin: 1rem;
	}
}
@keyframes rounder {
	0% {
	}
	50% {
		transform: translateY(245vh);
	}
	100% {
	}
}
@keyframes rounder2 {
	0% {
		transform: translateY(245vh);
	}
	50% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(245vh);
	}
}

.hide {
	visibility: hidden;
}
.about-slide {
	visibility: visible;
	animation: slideleft 1s ease;
}
.blog-slide {
	visibility: visible;
	animation: slidedown 1s ease;
}
.hero-animate {
	visibility: visible;
}
.hero-animate:nth-child(1) {
	animation: bigEnter 1s ease;
}
.hero-animate:nth-child(2) {
	animation: rotateY 1s ease;
}
.hero-animate:nth-child(3) {
	animation: rotateX 1s ease;
}
.footer-show {
	visibility: visible;
	animation: rotateY 0.5s;
}
@keyframes slideleft {
	0% {
		transform: translateX(-100%);
		filter: opacity(0);
	}
	100% {
		transform: translateX(0%);
		filter: opacity(1);
	}
}
