* {
  padding: 0;
  margin: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e6e6e6;
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
  overflow-x: hidden;
  color: white;
}

ul {
  list-style-type: none;
}

main {
  margin-top: 3rem;
}

.form-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-header {
  text-align: center;
  margin: 0.7rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #00334d;
}

.forms {
  background-color: #006699;
  border-radius: 1.7rem;
  -webkit-backdrop-filter: blur(4px) brightness(70%);
          backdrop-filter: blur(4px) brightness(70%);
  min-height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
  margin: 0 1rem;
}

.login-input,
.signup-input {
  color: #fff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: transparent;
  border: none;
  border-bottom: 3px double white;
  padding: 0.8rem;
  font-size: 0.8rem;
  -webkit-transition: border-bottom-color 1s;
  transition: border-bottom-color 1s;
}

.form-cont input::-webkit-input-placeholder {
  color: #e6e6e6;
}

.form-cont input:-ms-input-placeholder {
  color: #e6e6e6;
}

.form-cont input::-ms-input-placeholder {
  color: #e6e6e6;
}

.form-cont input::placeholder {
  color: #e6e6e6;
}

.form-cont input:focus {
  outline: none;
  border-bottom-color: #4dc4ff;
}

.form-cont input:focus::-webkit-input-placeholder {
  opacity: 0.2;
}

.form-cont input:focus:-ms-input-placeholder {
  opacity: 0.2;
}

.form-cont input:focus::-ms-input-placeholder {
  opacity: 0.2;
}

.form-cont input:focus::placeholder {
  opacity: 0.2;
}

.submit-button {
  border-radius: 0.2rem;
  padding: 0.7rem;
  cursor: pointer;
  background: #80d5ff;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
}

.submit-button:hover {
  -webkit-filter: saturate(20%) brightness(110%);
          filter: saturate(20%) brightness(110%);
}

.submit-button:focus {
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

.submit-button:active {
  background: #004466;
  color: white;
  -webkit-filter: none;
          filter: none;
}

.switch-button {
  border-radius: 0.2rem;
  padding: 0.7rem;
  cursor: pointer;
  background: #80d5ff;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
  margin: 2.5rem;
  margin-bottom: 3.5rem;
}

.switch-button:hover {
  -webkit-filter: saturate(20%) brightness(110%);
          filter: saturate(20%) brightness(110%);
}

.switch-button:active {
  background: #004466;
  color: #fff;
  -webkit-filter: none;
          filter: none;
}

.bfooter {
  width: 100%;
  border-top: 1px solid grey;
  padding-top: 1rem;
  background-color: #0d0d0d;
  color: white;
}

.footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.footer-items h3 {
  border-bottom: 1px dashed #33bbff;
  color: #33bbff;
}

.footer-items .social-icons {
  text-decoration: none;
}

.footer-items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.4rem 0;
  text-align: center;
  color: #d9d9d9;
}

.footer-items a:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.fab {
  margin-right: 0.5rem;
}

.fa-facebook {
  color: #1212db;
}

.fa-instagram {
  color: red;
}

.fa-whatsapp {
  color: #029c02;
}

.contact-form h1 {
  margin-left: 0.6rem;
  width: 100%;
}

.contact-form input,
textarea {
  font-size: 0.8rem;
  width: 11rem;
  margin: 0.3rem;
  padding-left: 0.4rem;
}

.contact-form input:focus,
textarea:focus {
  outline: none;
  border-radius: 0.4rem;
}

#name,
#email {
  height: 1.7rem;
}

#subject {
  height: 2rem;
}

#message {
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-weight: bold;
}

.contactBtn {
  padding: 0.5rem;
  margin-left: 0.3rem;
  font-weight: bold;
  cursor: pointer;
}

.contact-Btn:hover {
  -webkit-filter: opacity(0.6);
          filter: opacity(0.6);
}

.copyright {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto auto 2rem;
}

@media screen and (max-width: 30em) {
  main {
    margin-top: 5rem;
  }
  .login-input,
  .signup-input {
    max-width: 8rem;
  }
  .footer-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-items {
    margin-bottom: 2rem;
    width: 90%;
  }
  .contact-form h1 {
    text-align: center;
  }
}

.destroy {
  display: none;
}

.rebuild {
  -webkit-animation: rotateYY 1s ease;
          animation: rotateYY 1s ease;
  display: initial;
}

.hide {
  opacity: 0;
}

.footer-show {
  opacity: 1;
  -webkit-animation: rotateY 0.5s;
          animation: rotateY 0.5s;
}

@-webkit-keyframes rotateYY {
  0% {
    -webkit-transform: rotateY(60deg);
            transform: rotateY(60deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes rotateYY {
  0% {
    -webkit-transform: rotateY(60deg);
            transform: rotateY(60deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=join.css.map */