body {
	box-sizing: border-box;
	background-color: hsl(0, 0%, 90%);
	padding: 0;
	margin: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: sans-serif;
	overflow-x: hidden;
	color: white;
}
.loader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: hsl(0, 0%, 85%);
	z-index: 3;
	transition: 0.3s;
}
.back {
	z-index: -1;
}
.loader::after {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	height: 6rem;
	width: 6rem;
	transform: translate(-50%, -50%) rotate(45deg);
	border-radius: 0.2em;
	background: linear-gradient(
		to top right,
		hsl(200, 100%, 50%),
		hsl(0, 100%, 50%)
	);
	animation: colorshift 0.7s infinite;
}
@keyframes colorshift {
	0%,
	100% {
		filter: hue-rotate(0);
	}
	50% {
		filter: hue-rotate(360deg);
	}
}
// Header Section

header {
	height: 2.5em;
	width: 100%;
	background: hsl(200, 100%, 20%);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 2;
}
a:visited {
	color: hsl(200, 100%, 30%);
}
a:active {
	color: hsl(200, 100%, 50%);
}
footer a:visited {
	color: hsl(0, 0%, 85%);
}
footer a:active {
	color: hsl(0, 0%, 100%);
}
nav a:visited {
	color: white;
}
nav a:active {
	color: hsl(0, 0%, 85%);
}

.site-logo img {
	width: 6rem;
	filter: brightness(200%);
}
.site-logo:hover {
	opacity: 0.8;
}

header .join {
	color: white;
}
.bnav-burger {
	display: none;
}
.bnav {
	width: 60%;
	position: relative;
}
.bnav__list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bnav-links {
	margin: 0.4em 0.5em;
	color: white;
	text-decoration: none;
	font-size: 0.85rem;
	transition: opacity 0.5s ease-out;
}
.bnav-links:hover {
	opacity: 0.7;
}

.join-link {
	display: none;
}
.bnav__list-items .active {
	text-decoration: underline;
}
.join:hover {
	filter: opacity(0.7);
}
@media screen and (max-width: 30em) {
	header {
		height: 3.8em;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.site-header__text {
		color: white;
	}
	.hide-link {
		visibility: hidden;
	}
	.join {
		display: none;
	}
	.bnav-burger {
		display: initial;
		position: fixed;
		top: 1rem;
		right: 1rem;
		z-index: 1;
		background: linear-gradient(
			to top,
			hsl(200, 100%, 50%),
			hsl(200, 100%, 75%)
		);
		border-radius: 0.2rem;
		font-weight: bold;
		color: black;
		padding: 0.4rem;
		cursor: pointer;
		transition: filter 0.5s;
		font-size: 0.9rem;
	}
	.bnav-burger:hover {
		filter: invert(100%);
	}
	.bnav {
		position: fixed;
		top: 0;
		right: 0;
		transform: translateX(100%);
		transition: 0.2s;
	}
	.bnav__list {
		margin: 0;
		padding: 0;
		height: 100vh;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		flex-direction: column;
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
		padding-left: 1rem;
		background: linear-gradient(
			to left,
			hsl(200, 100%, 30%),
			hsl(200, 100%, 55%)
		);
	}
	.bnav__list-items {
		margin: 0.5rem 2rem;
	}

	.bnav-links {
		font-size: 1.4rem;
		display: inherit;
	}
	.join-link {
		display: inherit;
	}
	.bnav-open {
		transform: translateX(0%);
	}
	.bnav-burger-open {
		background: black;
		color: white;
	}
	.bnav-links-open {
		visibility: visible;
		animation: slideright 0.3s;
	}
	.shorter {
		height: 2.7rem;
	}
}
@media screen and (max-width: 18rem) {
	.bnav {
		width: 70%;
	}
	.bnav-links {
		font-size: 1.2rem;
	}
}

@keyframes slideright {
	0% {
		transform: translateX(100%);
		filter: opacity(0);
	}
	100% {
		transform: translateX(0%);
		filter: opacity(1);
	}
}

ul {
	list-style-type: none;
}

// Main Section

main {
	margin-top: 3rem;
}

.form-cont {
	display: flex;
	flex-direction: column;
}
.form-header {
	text-align: center;
	margin: 0.7rem;
	margin-bottom: 1rem;
	margin-top: 2rem;
	font-size: 1.8rem;
	color: hsl(200, 100%, 15%);
}
.forms {
	background-color: hsl(200, 100%, 30%);
	border-radius: 1.7rem;
	min-height: 13rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2rem;

	margin: 0 1rem;
}

.login-input,
.signup-input {
	color: #fff;
	align-self: center;
	background: transparent;
	border: none;
	border-bottom: 3px double white;
	padding: 0.8rem;
	font-size: 0.8rem;
	transition: border-bottom-color 1s;
}
.form-cont input::placeholder {
	color: hsl(0, 0%, 90%);
}
.form-cont input:focus {
	outline: none;
	border-bottom-color: hsl(200, 100%, 65%);
}
.form-cont input:focus::placeholder {
	opacity: 0.2;
}
.submit-button {
	border-radius: 0.2rem;
	padding: 0.7rem;
	cursor: pointer;
	background: hsl(200, 100%, 75%);
	border: none;
	font-size: 1rem;
	font-weight: bold;
	transition: filter 0.5s;
}
.submit-button:hover {
	filter: saturate(20%) brightness(110%);
}
.submit-button:focus {
	filter: brightness(200%);
}
.submit-button:active {
	background: hsl(200, 100%, 20%);
	color: white;
	filter: none;
}
.switch-button {
	border-radius: 0.2rem;
	padding: 0.7rem;
	cursor: pointer;
	background: hsl(200, 100%, 75%);
	border: none;
	font-size: 1rem;
	font-weight: bold;
	transition: filter 0.5s;
	margin: 2.5rem;
	margin-bottom: 3.5rem;
}
.switch-button:hover {
	filter: saturate(20%) brightness(110%);
}
.switch-button:active {
	background: hsl(200, 100%, 20%);
	color: #fff;
	filter: none;
}
.bfooter {
	width: 100%;
	border-top: 1px solid grey;
	padding-top: 1rem;
	background-color: hsl(0, 0%, 5%);
	color: hsl(0, 0%, 100%);
}
.footer-cont {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}
.footer-items {
	display: flex;
	max-width: 30%;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
}
.footer-items h3 {
	margin: 0;
	border-bottom: 1px dashed hsl(200, 100%, 60%);
	color: hsl(200, 100%, 60%);
}
.footer-items .social-icons {
	text-decoration: none;
}
.footer-items a {
	display: flex;
	align-items: center;
	margin: 0.4rem 0;
	text-align: center;
	color: hsl(0, 0%, 85%);
}

.footer-items a:hover {
	filter: brightness(50%);
}
.fab {
	margin-right: 0.5rem;
}
.fa-facebook {
	color: rgb(18, 18, 219);
}
.fa-instagram {
	color: red;
}
.fa-whatsapp {
	color: rgb(2, 156, 2);
}

.copyright {
	width: fit-content;
	margin: auto auto 2rem;
}
@media screen and (max-width: 30em) {
	main {
		margin-top: 5rem;
	}
	.login-input,
	.signup-input {
		max-width: 8rem;
	}
	.footer-cont {
		flex-direction: column;
		align-items: center;
	}
	.footer-items {
		margin-bottom: 2rem;
		width: 90%;
	}
	.contact-form h1 {
		text-align: center;
	}
}

.destroy {
	visibility: hidden;
	position: absolute;
	top: -20rem;
}
.rebuild {
	animation: rotateY 1s ease;
	visibility: visible;
}
.hide {
	opacity: 0;
}
.footer-show {
	opacity: 1;
	animation: rotateY 0.5s;
}
@keyframes rotateY {
	0% {
		transform: rotateY(60deg);
		opacity: 0;
	}
	100% {
		transform: rotateY(0);
		opacity: 1;
	}
}
