@import '../../Utilities/animation', '../../Utilities/mixin',
	'../../Utilities/variables', '../Base/navbar', '../../Utilities/scrollstuff';

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	position: relative;
	@include flexCenter(center, center, column);
	font-family: sans-serif;
	background: $bg-colorg;
}
ul {
	list-style-type: none;
}
header {
	display: flex;
	@include size(2em, 100%);
	background-color: rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	.site-header {
		margin: auto auto auto auto;
		&__text {
			font-size: 1.2rem;
			text-decoration: none;
			color: $s-color;
			&:hover {
				opacity: 0.8;
			}
		}
	}
}
.bcontact {
	position: relative;
	width: 100%;
	.author-img {
		width: 100%;
		z-index: 0;
		height: 100vh;
	}
	section {
		background: rgba(0, 0, 0, 1);
		border-radius: 21% / 50%;
		padding: 1rem;
		transition: all 1s ease;
		&:hover {
			z-index: 1;
			background: rgba(0, 0, 0, 0.5);
			border: 0.1em solid rgba(255, 255, 255, 0.5);
			transform: rotate(-360deg) scale(1.2);
		}
	}
	.facebook {
		background: rgba(0, 0, 0, 1);
		@include position($top: 20%, $left: 10%);
		height: inherit;
	}
	.whatsapp {
		@include position($top: 20%, $right: 10%);
	}
	.instagram {
		@include position($bottom: 20%, $right: 10%);
	}
	.email {
		@include position($bottom: 20%, $left: 10%);
		border-radius: 30% / 50%;
	}
	a {
		color: white;
		text-decoration: none;
	}
}

footer {
	color: $bg-color;
	width: 100%;
	text-align: center;
	@include position($bottom: 2%);
}
