@import '../../Utilities/variables';

header {
	display: flex;
	@include size(2.5em, 100%);
	background-color: rgba(0, 0, 0, 0.2);
	@include position($pos: fixed, $top: 0, $left: 0);
	@include flexCenter(center, space-around);
	z-index: 1;
	.site-header {
		width: 20%;
		text-align: center;
		&__text {
			font-size: 1.2rem;
			text-decoration: none;
			color: rgb(193, 202, 255);
			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.bnav {
	width: 60%;
	position: relative;

	&__list {
		@include flexCenter(center, center);
		&-items {
			margin: 0.4em 0.5em;
			.bnav-links {
				color: white;
				text-decoration: none;
				font-size: 0.85rem;
				transition: all 0.5s ease-out;
				&:hover {
					border-radius: 0;
					color: black;
				}
			}
		}
	}
}

.active {
	border: 2px dashed $bg-color;
}
