@import '../Utilities/animation', '../Utilities/mixin', '../Utilities/variables',
	'./Base/hero', './Base/navbar', './Views/home', '../Utilities/scrollstuff';

* {
	padding: 0;
	margin: 0;
}

body {
	box-sizing: border-box;
	background-color: rgb(63, 63, 63);
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
	@include flexCenter(center, center, column);
	font-family: sans-serif;
	overflow-x: hidden;
	color: white;
}
ul {
	list-style-type: none;
}

main {
	padding-bottom: 2em;
}
footer {
	border-top: 1px solid black;
	width: 80%;
	text-align: center;

	section {
		@include flexCenter(start);
		width: 100%;
		div {
			width: 33.33%;
			h3 {
				font-size: 1rem;
			}
			@include flexCenter($direction: column);
			a {
				color: $p-color;
				font-size: 0.8rem;
				text-decoration: none;
				transition: all 0.3s ease;
				&:hover {
					filter: opacity(0.6);
					text-decoration: underline;
				}
			}
		}
	}
}
